body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}


header, main {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

nav {
    background-color: #76777B;
    border: 1px solid #ccc;
    border-radius: 8px; 
    padding: 10px;
    margin: 0 auto 20px auto;
    max-width: 800px;
}


nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
}


nav ul li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s; 
}


nav ul li a:hover {
    background-color: #999999;
}


nav ul li a[aria-current="page"] {
    background-color: #CC0000;
    color: white;
    font-weight: bold;
}


main {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

code {
    font-family: inherit;
    font-size: inherit;
    font-style: italic;
}
